:root {
  --base-color: #323232;
  --plate-background-color: #393b3e;
  --plate-foreground-color: #b3b3b3;
  --plate-highlight-color: #696969;
  --global-highlight-color-1: #8da485;
  --global-highlight-color-2: #dfffaa;
}

.App {
  text-align: center;
}

a {
  color: var(--global-highlight-color-1);
  text-decoration: none;
}

a:hover {
  color: var(--plate-foreground-color);
  text-decoration: none;
}

.App-header {
  background-color: var(--base-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 300px;
  word-wrap: break-word;
  background-color: var(--plate-background-color);
  background-clip: border-box;
  border: 1px solid var(--plate-highlight-color);
  border-radius: .20rem;
  float: none; /* Added */
  margin: 0 auto 10px; /* Added */
}

.continue {
  text-align: center;
  font-size: xxx-large;
}

.discrete {
  color: var(--plate-highlight-color);
  font-style: italic;
  alignment: right;
  font-size: small;
}

.debug {
  color: var(--global-highlight-color-2);
  font-family: "Lucida Console", "Menlo", "Monaco", "Courier",
  monospace;
  font-size: xx-small;
}

.App-link {
  color: var(--plate-highlight-color);
  font-family: monospace;
}

.text-entry-block {
  font-size: medium;
  padding: 0px 2px;
  resize: none;
}

.entry-date {
  font-size: small;
  font-family: monospace;
  color: var(--global-highlight-color-2);
}

.entry-body {
  font-size: small;
  color: var(--plate-foreground-color);
}

.entry-meta {
  font-size: xx-small;
}

.fixed-top {
  height: 45px
}

.fixed-bottom {
  height: 105px
}

.entry-listing {
  padding-top: 45px;
  padding-bottom: 105px;
}

.entry-preview {
  position: absolute;
  z-index: 1001;
  box-shadow: 6px 6px 5px var(--base-color);
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100px;
  padding: 0px;

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
