.App {
  text-align: center;
}

.App-header {
  background-color: #0f2607;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #648a5c;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 300px;
  word-wrap: break-word;
  background-color: #d4d4d4;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .20rem;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.continue {
  text-align: center;
  font-size: xxx-large;
}

.discrete {
  color: #a2a2a2;
  font-style: italic;
  alignment: right;
}

.debug {
  color: #ffe667;
  font-family: "Lucida Console", "Menlo", "Monaco", "Courier",
  monospace;
  font-size: xx-small;
}

.cflex{
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #a2a2a2;
  font-family: monospace;
}

.text-entry-block {
  font-size: medium;
  padding: 0px 2px;
  resize: none;
}

.entry-date {
  font-size: small;
}

.entry-body {
  font-size: large;
}

.entry-meta {
  font-size: xx-small;
}

.fixed-top {
  height: 45px
}

.fixed-bottom {
  height: 105px
}

.entry-listing {
  padding-top: 45px;
  padding-bottom: 105px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
